@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");

$radius: 0.2rem;

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: "Play", sans-serif;
}

#content {
    display: block;
}

.container {
    padding: 1em;
    border-radius: $radius;
    border: 1px solid darken($color: white, $amount: 10);

    h1 {
        margin: 1.5rem;
    }

    p {
        margin: 1.5rem;
    }
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0.25em;
}
